.delete-button {
  background: url(../../images/delete-card.svg) transparent center no-repeat;
  border: none;
  cursor: pointer;
  height: 12px;
  transition: opacity .3s ease-out;
  width: 14px;
}

.delete-button:hover {
  opacity: 0.5;
}