.profile-page {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(10px, 1280px);
  grid-template-rows: min-content auto min-content;
  justify-content: center;
}

.profile-page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 650px)  {

}