.work {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}

.work__title {
  margin: 0;
  font-size: 30px;
  line-height: 1.67;
  font-weight: normal;
  letter-spacing: -0.04em;
}

.work__arrow {
  font-size: 30px;
  line-height: 2;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {

  .work__title {
    margin: 0;
    font-size: 28px;
    line-height: 1.79;
    font-weight: normal;
    letter-spacing: -0.04em;
  }
}