.work {
  padding-bottom: 19px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 1px solid #E8E8E8;
  color: black;
}

.work__title {
  margin: 0;
  font-size: 30px;
  line-height: 1.67;
  font-weight: normal;
  letter-spacing: -0.04em;
}

.work__arrow {
  font-size: 30px;
  line-height: 2;
}