.burger {
  cursor: pointer;
  border: none;
  padding: 0;
  width: 44px;
  height: 44px;
  background: url('../../images/burger.svg') center no-repeat transparent;
  transition: 0.2s background-image ease-in ;
}

.burger_opened {
  background-image: url('../../images/close.svg');
}

@media screen and (max-width: 649px)  {
}