.input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input__input {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  background-color: #F4F4F4;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.input__input:hover, .input__input:focus {
  background-color: #ebebeb;
}

.input__input:focus {
  outline: none;
}

.input__input_invalid {             
  color: #EE3465;
}

@-moz-document url-prefix() {
  .input__input[type=password]:not(:placeholder-shown) {
  font-size: 6px;
  letter-spacing: 0.35em;
}} 

.input__label {
  margin-bottom: 10px;
  color: #A0A0A0;
  font-size: 10px;
  line-height: 1.2;
}

/* .input__input:invalid {
  color: #EE3465;
} */

.input__error {
  width: 100%;
  margin: 10px 0 0;
  color: #EE3465;
  font-size: 10px;
  line-height: 1.2;
}