.about-project {
  padding: 110px 70px;
}

.about-project__title {
  margin-bottom: 70px;
}

.about-project__facts {
  margin-bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px
}

.progress {
  display: flex;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
}
.progress__section_type_backend {
  flex: 1 1 auto;
}

.progress__section_type_frontend {
  flex: 5.7 1 auto;
}

.progress__duration {
  padding: 10px;
  margin: 0;
}

.progress__duration_type_backend {
  color: rgb(255, 255, 255);
  background-color: #3456F3;
}

.progress__duration_type_frontend {
  background-color: #f2f2f2;
}

.progress__label {
  padding: 14px 0 0;
  margin: 0;
  color: #A0A0A0;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__facts {
    margin-bottom: 93px;
    gap: 30px
  }
}