.about-project-fact {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-project-fact__title {
  margin: 0 0 26px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.04em;
}

.about-project-fact__body {
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {
  .about-project-fact {
    max-width: 319px;
  }
  
  .about-project-fact__title {
    margin: 0 0 22px;
    font-size: 20px;
    line-height: 1.22;
  }
  
  .about-project-fact__body {
    font-size: 12px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 649px)  {
  .about-project-fact {
    width: 100%;
    max-width: unset;
  }
  
  .about-project-fact__title {
    margin: 0 0 16px;
    font-size: 18px;
  }
  
  .about-project-fact__body {
    font-size: 11px;
    line-height: 1.45;
  }
}