.like-button {
  background-color: #fff;
  background-image: url(../../images/like.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  height: 12px;
  transition: opacity .3s ease-out;
  width: 14px;
}

.like-button:hover {
  opacity: 0.5;
}

.like-button_active {
  background-image: url("../../images/like_active.svg");
}