.switch__container {
  display: flex;
}

.switch {
  margin-right: 14px;
  position: relative;
  display: flex;
  align-items: center;
  width: 36px;
  height: 20px;
}

.switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__slider {
  position: absolute;
  background: #FAFAFA;
  border-radius: 16px;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;;
  transition: .4s;
}

.switch__slider::before {
  position: absolute;
  content: "";
  background-color: #929694;
  height: 16px;
  width: 16px;
  bottom: 2px;
  left: 2px;
  transition: .4s;
}

.switch__checkbox:checked+.switch__slider:before {
  transform: translateX(16px);
  background-color: #2BE080;
}

.switch__slider::before {
  border-radius: 50%;
}

.switch__label {
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.38;
}