.main-page {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(10px, 1280px);
  grid-template-rows: min-content auto min-content;
  justify-content: center;
}

.main-page__main {
  display: grid;
}