.footer {
  margin: 79px 0 20px;
  padding: 0 70px;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  color: #000;
}

.footer__grey {
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
  text-align: center;
  color: #A0A0A0;
}

.footer__bottom-text {
  display: flex;
}

.footer__copyright {
  margin: 0  auto 0 0;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

.footer__link:last-of-type {
  margin-right: 0;
}