.portfolio {
  padding: 0 70px 115px;
}

.portfolio__title {
  margin: 0 0 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  color: #A0A0A0;
}

.portfolio__item {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}