.portfolio {
  padding: 0 70px 115px;
}

.portfolio__title {
  margin: 0 0 50px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.11;
  color: #A0A0A0;
}

.portfolio__item {
  padding-bottom: 9px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E8E8E8;
}

.portfolio__item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {
  .portfolio {
    padding: 0 50px 85px;
  }

  .portfolio__item {
    padding-bottom: 12px;
  }
  
}

@media screen and (max-width: 649px)  {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    margin: 0 0 40px;
    font-size: 14px;
    line-height: 1.43;
  }

  .portfolio__item {
    padding-bottom: 19px;
  }
}