.techs {
  padding: 100px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
}

.techs__title {
  margin-bottom: 90px;
  align-self: stretch;
}

.techs__subtitle {
  margin: 0 0 26px;
  font-size: 50px;
  line-height: 1.16;
  font-weight: normal;
  letter-spacing: -0.12rem;
}

.techs__text {
  margin: 0 0 100px;
  text-align: center;
  max-width: 460px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.04rem;
}

.techs__technologies {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 0;
}

.techs__technology {
  padding: 21px 0;
  text-align: center;
  box-sizing: border-box;
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.33;
  list-style-type: none;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {
  .techs {
    padding: 90px 50px;
  }

  .techs__title {
    margin-bottom: 80px;
  }

  .techs__subtitle {
    margin: 0 0 22px;
  }

  .techs__text {
    margin: 0 0 83px;
    max-width: 450px;
    font-size: 12px;
    line-height: 1.5;
  }

  .techs__technology {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 1.25;
  }
  
}