.submit-section {
  width: 100%;
}

.submit-section__container {
  display: flex;
  justify-content: center;
}

.submit-section__text {
  margin: 0;
  color: #A0A0A0;
}

.submit-section__link {
  margin-left: 6px;
  text-decoration: none;
  color: #3456F3;
}

.submit-section__submit {
  margin: 0 0 16px;
}

@media screen and (max-width: 650px)  {

  .submit-section__container {
    font-size: 12px;
    line-height: 1.25;
  }
}