.movie {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: 203px min-content;
  grid-template-areas:
    "photo photo"
    "title like"
    "duration duration";
  background-color: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.movie:hover .movie__delete {
  display: block;
}

.movie__title {
  padding: 16px 0 0 16px;
  margin: 0;
  max-width: 290px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  grid-area: title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  grid-area: photo;
}

.card__onclick {
  padding: 0;
  border: none;
  cursor: pointer;
}

.movie__like {
  margin: 0 24px 0 0;
  align-self: end;
  grid-area: like;
}

.movie__delete {
  display: none;
  margin: 0 24px 2px 0;
  align-self: end;
  grid-area: like;
}

.movie__duration {
  margin: 17px 0 16px 16px;
  grid-area: duration;
  font-size: 11px;
  line-height: 1.18;
  color: #A0A0A0;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {

  .movie {
    grid-template-rows: 190px min-content;
  }

  .movie__duration {
    margin: 15px 0 14px 16px;
  }

  .movie__title {
    padding: 14px 12px 0 16px;
  }

  .movie__delete {
    margin: 0 22px 1px 0;
  }

}

@media screen and (max-width: 650px){

  .movie__duration {
    margin: 14px 0 14px 14px;
    font-size: 10px;
    line-height: 1.2;
  }

  .movie__title {
    padding: 14px 12px 0 14px;
    font-size: 12px;
    line-height: 1.25;
  }

  .movie__delete {
    margin: 0 18px 1px 0;
  }

}

@media screen and (max-width: 400px){

  .movie {
    grid-template-rows: 168px min-content;
  }
}