.register {
  padding: 10vh 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 396px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.register__logo, .register__title {
  margin: 0 0 40px;
}

.register__field {
  margin: 0 0 20px;
}

.register__field:last-of-type {
  margin: 0 0 auto;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {

  .register {
    padding: 22.6vh 0;
  }
}

@media screen and (max-width: 650px)  {
  .register {
    align-items: center;
    padding: 56px 30px 27px;
  }

  .register__logo {
    margin: 0 0 50px;
  }

  .register__title {
    margin: 0 0 80px;
  }
}