.info__container {
  max-width: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background: #FFFFFF;
  box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
  border-radius: 9px;
}

.info__text {
  margin: 0 0 25px;
}

@media screen and (max-width: 650px)  {
  .info__container {
    padding: 15px;
    max-width: 75%;
  }
}