.header {
  padding: 18px 70px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.header__logo {
  margin-right: auto;
  width: 38px;
  height: 38px;
  background: url('../../images/logo.svg') no-repeat
}

.header__link {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
  margin-right: 30px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_type_sign-in {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #3456F3;
  color: white
}

@media screen and (min-width: 650px) and (max-width: 850px)  {
  .header {
    padding: 18px 30px;
  }
}

@media screen and (max-width: 649px)  {
  .header {
    padding: 18px 14px;
    margin-bottom: 14px;
    font-size: 10px;
    line-height: 1.6;
  }

  .header__link {
    margin-right: 14px;
  }

  .header__link_type_sign-in {
    padding: 5px 12px;
  }
}