.header {
  padding: 18px 70px;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.33;
}

.header__logo {
  width: 38px;
  height: 38px;
  background: url('../../images/logo.svg') no-repeat center;
  flex-shrink: 0;
}

.header__link {
  font-weight: 500;
  margin-right: 30px;
}

.header__link:last-of-type {
  margin-right: 0;
}

.header__link_type_sign-up {
  margin-left: auto;
}

.header__link_type_sign-in {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #3456F3;
  color: white
}

.header__profile-logo {
  margin-left: 13px;
  padding: 15px;
  background: #F4F4F4 url('../../images/profile.svg') no-repeat center;
  border-radius: 6px;
}

.header__current-user {
  display: flex;
}

.header__burger {
  display: none;
}

@media screen and (min-width: 650px) and (max-width: 850px)  {
  .header {
    padding: 15px 30px;
    justify-content: space-between;
  }

  .header__burger {
    display: block;
    z-index: 2;
  }

  .header__logo {
    margin: 3px 0;
  }
}

@media screen and (max-width: 649px)  {
  .header {
    padding: 16px 14px;
    font-size: 10px;
    line-height: 1.6;
    justify-content: space-between;
  }

  .header__link {
    margin-right: 14px;
  }

  .header__link_type_sign-in {
    padding: 5px 12px;
  }

  .header__burger {
    display: block;
    z-index: 2;
  }
}