.about-me {
  padding: 111px 70px 100px;
}


.about-me__title {
  margin-bottom: 66px;
}

.about-me__about {
  display: flex;
  justify-content: space-between;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-me__name {
  margin: 0 0 18px;
  font-size: 50px;
  line-height: 1.16;
  font-weight: normal;
  letter-spacing: -0.04em;
}

.about-me__position {
  margin: 0 0 26px;
  font-size: 18px;
  line-height: 1.11;
  font-weight: 500;
}

.about-me__description {
  margin: 0 0 99px;
  max-width: 596px;
  font-size: 14px;
  line-height: 1.57;
}

.about-me__gh {
  margin: 0;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  object-fit: cover;
  border-radius: 10px;
}