.button {
  cursor: pointer;
  opacity: 1;
  transition: var(--hover-effect);
  border: none;
  background-color: transparent;
}

.button:hover {
  opacity: 0.5;
}

.button_style_solid-wide {
  padding: 13px 0 15px;
  width: 100%;
  color: white;
  background-color: #3456F3;
  border-radius: 3px;
}

.button_style_like {
  background: transparent url(../../images/like.svg) 50% no-repeat;
  height: 12px;
  width: 14px;
}

.button_active {
  background-image: url("../../images/like_active.svg");
}


@media screen and (max-width: 650px)  {
  .button_style_solid-wide {
    padding: 15px 0;
  }
}