@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("./vendor/fonts/Inter-Regular.woff2") format("woff2"),
    url("./vendor/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  src: url("./vendor/fonts/Inter-Medium.woff2") format("woff2"),
    url("./vendor/fonts/Inter-Medium.woff") format("woff");
}

body {
  margin: 0;
  font-size: 14px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  background-color: #FAFAFA;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --hover-effect: 0.15s opacity ease-in-out;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
