.profile {
  flex-grow: 1;
  padding: 74px 0 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__hello {
  margin: 0 0 107px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  letter-spacing: -0.04em;
}

.profile__data {
  margin: 0 0 auto;
  max-width: 410px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 1.18;
}

.profile__data-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile__data-row:first-child {
  border-bottom: solid 1px #E8E8E8;
}

.profile__field-name {
  margin: 16px 0;
  justify-self: start;
  font-weight: 500;
}

.profile__field-value {
  justify-self: end;
}

.profile__button {
  cursor: pointer;
  margin-bottom: 16px;
  border: none;
  background-color: transparent;
  font-size: 13px;
  line-height: 1.23;
}

.profile__button:last-child {
  margin-bottom: 0;
}

.profile__button_type_sign-out {
  color: #EE3465;
}

.profile__edit-form{
  max-width: 410px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile__input {
  margin-bottom: 20px;
}

.profile__input:last-of-type {
  margin-bottom: auto;
}